body {
    direction: rtl;
    text-align: right;
    background-color: whitesmoke !important;

  }
.sidebar-menu{
    text-align: right;
}
.content-header{
  text-align: right;
  background-color: white !important;
}
