body{
    background-color: whitesmoke !important;
}
.content-header{
    text-align: right;
    background-color: white !important;
}
.content-header h1{
    position: relative;
    left: -230px;
}
.headhero{
    display: flex;
    justify-content:space-around;
    width: 1550px;
    height: 50px;
    margin-right: 50px;
}
.hero{
    background-color: white;
    margin-right: 350px;
   width: 1000px;
   height: 100%;
   border-radius: 20px;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: center !important;
    border-bottom: 2px solid #ddd;
    font-size: 18px;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:hover {
    background-color: #f5f5f5;
}

td.delete {
    cursor: pointer;
}
#btnheadhero{
    height: 45px;
    margin-top: 5px;
    padding-top: 13px;
}
label{
    color: black;
    font-weight: 500;
    font-size: 20px;
    margin-right: 5px;
}
input{
    width: 850px;
    border: 2px dimgray solid;
    border-radius: 10px;
    margin-right: 5px;
}
select{
    width: 850px;
    border: 2px dimgray solid;
    border-radius: 10px;
    margin-right: 5px;
}
#btn{
    width: 500px;
   margin-right: 200px;
   margin-top: 10px;
}