.content-header h1{
    position: relative;
    left: -230px;
}
.hero{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    margin-right: 150px;
}
form{
    background-color: white;
}
label{
    color: black;
    font-weight: 500;
    font-size: 30px;
}
input{
    width: 1000px;
    border: 2px dimgray solid;
    border-radius: 10px;
}
.headform{
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding-top: 20px;
}

#formbtn{
    width: 1000px;
}
.headform div{
    height: 50px;
    padding-top: 12px;
    margin-top: 5px;
}
table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
    text-align: center;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  
  .delete-button {
    color: red;
    cursor: pointer;
  }